<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block tags %}
    {% endblock %}

    {% block title %}
    <title>PDE </title>
    {% endblock %}

    {% block extra_css %}
    	<link rel="stylesheet" href="{% static 'pages/css/solutions.css' %}">
    {% endblock %}

 </head>
<body>

    {% block content %}
        About
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>

</html>