<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block tags %}
    {% endblock %}

    {% block title %}
    <title>PDE | Solutions </title>
    {% endblock %}

    {% block extra_css %}
    	<link rel="stylesheet" href="{% static 'pages/css/solutions.css' %}">
    {% endblock %}

 </head>
<body>

    {% block content %}
        <div class="main__container">
            <div class="top__container">
                    <div class="top__head">
                        Elaris Solutions
                    </div>
                <img src="https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
               <!-- <div class="slider__wrapper">
                    {% include 'solutions_slider.html' %}
               </div> -->
               
               <div class="top__desc">
                   dynamic technological solutions provider that takes pride in its capacity to offer specialised solutions to address specific company needs.
               </div>
            </div>          
            <div class="solutions__container">
                {% for solution in solutions %}
                    <div class="solutions__wrapper">
                        <div class="solutions__card">                            
                            <div class="div__1">
                                <div class="solutions__name">
                                    {{ solution.name }}    
                                </div>                            
                            </div>
                            <div class="div__2">
                                <img  class="solutions__image" src="{{ solution.img.url }}" alt="sol-img"> 
                                <div class="solutions__desc">
                                    {{ solution.desc }}
                                </div>
                            </div>
                            <div class="div__3">
                                Some Stuff
                            </div>
                        </div>
                    </div>            
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>

</html>