[Unit]
Description=elaris-corp-uWSGI-instance
After=network.target postgresql-13.service

[Service]
User=centos
Group=nginx
WorkingDirectory=/opt/elaris-corp
Environment="PATH=/opt/elaris-corp/venv/bin"
ExecStart=/opt/elaris-corp/venv/bin/uwsgi --ini /opt/elaris-corp/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
